fastapi
pysqlite3-binary
pydantic
uvicorn
openai
supabase
sendgrid
pandas
python-dotenv
python-multipart
selenium
exa-py
playwright
unstructured
faiss-cpu
streamlit
crewai
crewai[tools]
retell-sdk
azure-storage-blob
azure-identity
azure-cosmos
azure-core
azure-ai-documentintelligence
