fastapi
pysqlite3-binary
pydantic
uvicorn
openai
supabase
sendgrid
pandas
azure-storage-blob
azure-identity
python-dotenv
python-multipart
selenium
exa-py
playwright
unstructured
faiss-cpu
streamlit
crewai
crewai[tools]
retell-sdk