fastapi==0.92.0
pydantic==1.10.4
uvicorn==0.20.0
openai~=1.10.0
supabase
sendgrid~=6.10.0
pandas~=2.1.4
azure-storage-blob
azure-identity
python-dotenv
python-multipart
selenium
exa-py
playwright
unstructured
langchain-openai
faiss-cpu
streamlit
crewai
crewai-tools